.foot{
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    & p{
        font-weight: 500;
        font-size: 15px;
        line-height: 140%;
        font-family: sans-serif;
        letter-spacing: 0.01em;
        color: #1E232C;
    }
    & a{
        color: #00807acc;
        margin-left: 5px;
        font-weight: 600;
        font-size: 15px;
        letter-spacing: 0.01em;
        line-height: 140%;
        font-family: sans-serif;
        text-decoration: none;
    }
}